.Card {
  display: inline-block;
  width: 240px;
  height: 287px;
  margin: 10px 15px;
  background-color: white;
  border-radius: 6px;

  .palettes {
    height: 220px;
    width: 220px;
    margin: 5px auto;
    border-radius: 5px;

    div {
      position: relative;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .one {
      height: 90.1px;
      z-index: 5;
      top: 0;
    }
    .two {
      height: 147.39px;
      z-index: 4;
      top: -90.1px;
    }
    .three {
      height: 187px;
      z-index: 3;
      top: -237.49px;
    }
    .four {
      height: 220px;
      z-index: 2;
      top: -424.49px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .otherInfo {
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0px 10px;

    .like {
      display: flex;
      border: 1px solid #e9f2f9;
      border-radius: 4px;
      padding: 7px 7px;

      img {
        height: 12px;
        width: 15px;
        margin-right: 7px;
        margin-top: 2px;
      }
      span {
        font-size: 14px;
        color: #263646;
      }
    }
    .date {
      font-size: 12px;
      color: #899bb4;
      margin-top: 10px;
    }
  }
}
